blinker==1.4
Flask==1.0.0
Jinja2==2.10.0
MarkupSafe==0.23
Werkzeug==0.15.3
click==6.6
gunicorn==19.6.0
itsdangerous==0.24
structlog==18.1.0
boto3==1.11.10
botocore==1.14.10
requests==2.22.0
pytest==5.3.5
flask-swagger==0.2.14
protobuf==3.11.3
protoc-gen-swagger==0.1.0
grpc-tools==0.0.1
grpcio-tools==1.27.1
coverage==5.1
lightstep==4.4.3
opentracing==2.3.0
flasgger==0.9.4
fds.si-api-log-extra==0.1.0
